@import url("/usr/share/gnome-shell/theme/Yaru-blue-dark/gnome-shell/gnome-shell.css");

/* Controls the top bar color, #ebebeb is very light gray, #afcfef is blue-ish gray to match the translucent bar on my Mac */
#panel {
  background-color: black;
  height: 2.2em;
  box-shadow: inset 0 0px 0 0 black; }

/* Controls the color of the panel system icons and their spacing */
#panel .panel-button {
  color: white;
  -natural-hpadding: 6px;
  -minimum-hpadding: 6px; }

/* Controls the left padding of the clock, to space it to system icons when the clock is moved to the far right */
.clock-display-box .clock {
  font-weight: bold;
  padding-left: 1px;
  padding-right: 10px; }

/* Controls the padding/spacing around the Show Apps launcher in the dock */
.dash-item-container .show-apps .overview-icon {
  padding: 0px; }

/* Controls the padding/spacing around application icons in the dock*/
.dash-item-container .app-well-app .overview-icon, .dash-item-container .grid-search-result .overview-icon {
  padding: 0px;
  border-radius: 40px; }

/* Controls the color of the workspaces button (pre Ubuntu 23.10 this was "Activities" hence the naming) */
#panel .panel-button#panelActivities .workspace-dot {
  background-color: white; }

/* Mac doesn't contrast mouse hover over system icons as they're not grouped, so this does that with darker gray for light top bars */
#panel .panel-button:hover {
  background-color: rgba(12, 12, 12, 0.15);
  box-shadow: inset 0 0 0 100px rgba(12, 12, 12, 0.15); }
#panel .panel-button.clock-display:hover .clock {
  background-color: rgba(12, 12, 12, 0.15);
  box-shadow: inset 0 0 0 100px rgba(12, 12, 12, 0.15); }

/* Makes the Activities button go light on press, this makes is common to the clock and system tray but I don't know why they're different */
#panel .panel-button:active:hover, #panel .panel-button:focus:hover, #panel .panel-button:checked:hover {
  box-shadow: inset 0 0 0 100px rgba(242, 242, 242, 0.35); }
